<nav class="navbar">
    <div class="container-fluid">
        <span routerLink="" class="arrow mt-4">
            <img src="assets/filter-left.svg" alt=""></span>
    </div>
</nav>
<div class="d-flex justify-content-center mt-sm-3 mt-0  ">
    <div class="row box align-items-center  ">
        <div class=" col-12 d-flex justify-content-center s-box ">
            <ng-lottie [options]="options" height="150px" width="150px"
                (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </div>
</div>
<div class=" col-12 f-box d-flex justify-content-around align-items-center">
    <div >
        <p class="texts text-center"> امسحي الباركود <br>
            <span class="my-2"> واختاري </span>
            <br>
            اللغة المناسبة لخادمتك
        </p>
    </div>
</div>
<div class="px-4">
    <span style="color: #f5494c;">
        </span>
</div>

<ng-container >
    <div class="d-flex justify-content-center ">
        <div class="px-3">
            <zxing-scanner class="rounded-3"  style="height: 200px;" [torch]="true" [autofocusEnabled]="true"
            (scanSuccess)="scanSuccessHandler($event)"> </zxing-scanner>  
        </div>
    </div>
</ng-container>


<style>
    @media screen and (max-width:350px) {
    zxing-scanner{
        height: 150px;
        width: 200px;
    }
}
@media screen and (min-width:350px) {
    zxing-scanner{
        height: 150px;
        width: 250px;
    }
}
</style>