<nav class="navbar">
    <div class="container-fluid">
        <span routerLink="" class="arrow mt-2"><img  src="assets/filter-left.svg" alt=""></span>
    </div>
</nav>
<div class="d-flex justify-content-center mt-3 ">
    <div class="row box align-items-center  ">
        <div class=" col-12 d-flex justify-content-center  s-box ">
            <ng-lottie  [options]="options" height="150px" width="200px" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        <div class=" col-12 f-box d-flex justify-content-center align-items-center">
              <div class="">
                <p class="texts text-center"> امسحي الباركود <br>
                    <span class="my-2"> واختاري  </span>
                    <br>
                     اللغة المناسبة لخادمتك 
                    </p>
              </div>
          
        </div>
    </div>
</div>
<div>

  </div>

  <div>
    <p class="lead text-dark text-center">اختار اللغة المطلوبة </p>
  </div>
  <div class="row text-center">
      <div *ngFor="let i of arr">
      
        <button class="btn " (click)="getLang(i.language,i.id)" >{{i.language}}</button>
      </div>
  </div>

<style>
    button{
        width: 200px;
        height: 40px;
        font-weight: 700;
        border: 1px solid #f5494c  ;
        color: #f5494c;
        background-color: #ffffff;  
    }
    button:hover{
        border: 1px solid #fff  ;
        color: #fff;
        background-color: #f5494c;  
    }
</style>