.box{
    min-height: 150px;
    min-width:86%;

    border-radius: 20px;
    background-color: transparent;
}
.s-box{
    border-radius: 20px;

}
.f-box{
    border-radius: 20px;
  font-weight: 800;
  background-color: transparent;
}
.arrow{
    width: 30px !important;
    height: 100% !important;
}
span{
    color: black;
}
.texts {
    color: #76d5c1 !important;
}
@media screen and (max-width:375px) {
    .texts{
font-size: 10px;

    }

    *{
        overflow: hidden;
    }
    .succes {
        border: 6px solid green;
    }
    zxing-scanner{
        border-radius: 23px;
    }

    .cam-box {
        height: 307px;
        
    }

    button {
        width: 200px;
        height: 40px;
        font-weight: 700;
        border: 1px solid #76d5c1;
        color: #76d5c1;
        background-color: #ffffff;
    }

    button:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: #76d5c1;
    }


  
}
