.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@keyframes example {
    50%   {background-color: #76d5c1;}
    50% {color: #fff;}
  }
  @keyframes bio {
    50% {color: #fff;}
  }
  @keyframes button {
    50% {color: #76d5c1 ;}
    50% {background-color: #fff;}
  }


  /* The element to apply the animation to */
 
  .bio {
      color: #76d5c1;
      animation-name: bio;
      animation-duration: 2.5s;
  }

button {
    min-width: 200px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #76d5c1;
    color: white;
    animation-name: button;
    animation-duration: 2.5s;

}
button:focus {
    background-color: #76d5c1;
    
    color: white;  
}



.home{
    overflow: hidden;

}