<div class="container-fluid text-center  home">
    <div>
        <div class=" gy-4 row d-grid justify-content-center align-content-center align-items-center">
            <div class="animation-screen col-12 text-center">
                <ng-lottie width="350px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
            </div>
            <h1 class="text-center lead text-dark">
                طبختك بيد اللي<span class="bio"> يسنعها </span>
            </h1>
            <div class="col-12 justify-content-center ">
                <button routerLink="scan">ابدأ رحلتك </button>
            </div>
        </div>
    </div>
</div>