button {
    width: 200px;
    height: 40px;
    font-weight: 700;
    border: 1px solid #76d5c1;
    color: #76d5c1;
    background-color: #ffffff;
}

button:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #76d5c1;
}